// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Arial;
}

.container {
  width: 500px;
  margin: 10px auto;
}

.flex {
  display: flex;
  margin-bottom: 20px;
}

div.letter {
  margin: auto 5px;
  border: solid 1px black;
  width: 50px;
  height: 38px;
  padding-left: 13px;
  line-height: 2.5;
  background-color: #9b7fb3;
}

form {
  display: table;
}

label {
  display: table-row;
}

#longest-word {
  margin-top: 15px;
  border: solid 1px gray;
  border-right: none;
  border-radius: 5px 0 0 5px;
  height: 30px;
  width: 440px;
}

#play {
  border: solid 1px gray;
  border-radius: 0 5px 5px 0;
  height: 34px;
  width: 55px;
  font-weight: bold;
}
